<% if can? :rating, Spree::Review %>

    <%= form_tag spree.rating_reviews_path, remote: true, id: 'fast_rating_form'  do |form| %>
        <%= hidden_field_tag :product_id, @product.id %>
        <div class="form-group">
          <%= label_tag :rating %>
          <%= select_tag :rating, options_for_select(Spree::Review::AVAILABE_RAITING.collect{|p| [p.to_s,p.to_s] }), class: 'form-control' %>
        </div>
        <%= submit_tag Spree.t('actions.create'), class: 'btn btn-primary' %>
    <% end %>

<% end %>