<% if can? :rating, Spree::Review %>

    <%= form_for Spree::Review.new, url: spree.rating_reviews_path, remote: true, html: {id: 'fast_rating_form'}  do |form| %>
        <%= form.hidden_field :product_id, value: @product.id %>
        <div class="form-group">
          <%= form.label :rating %>
          <%= form.select :rating, Spree::Review::AVAILABE_RAITING.collect{|p| [p.to_s,p.to_s] }, {}, class: 'form-control' %>
        </div>
        <%= form.submit Spree.t('actions.create'), class: 'btn btn-primary' %>
    <% end %>

<% end %>