<%= render partial: 'spree/shared/error_messages', locals: { target: review } %>

<%= form_for review, url: spree.reviews_path, remote: true do |form| %>
    <%= form.hidden_field :product_id, value: review.product.id %>
    <%= form.hidden_field :with_review, value: true %>
    <div class="form-group">
      <%= form.label :rating %>
      <%= form.select :rating, Spree::Review::AVAILABE_RAITING.collect{|p| [p.to_s,p.to_s] }, {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="text-right">
      <div class="form-group">
        <%= form.submit Spree.t('actions.create'), class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>